<div id="<%= dom_id article %>">
  <p>
    <strong>Photo:</strong>
    <%= article.photo %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= article.description %>
  </p>

  <p>
    <strong>When went:</strong>
    <%= article.when_went %>
  </p>

  <p>
    <strong>User:</strong>
    <%= article.user.email %>
  </p>


</div>
