<p style="color: green"><%= notice %></p>

<%= render @article %>

<% if @article.user_id == current_user.id %>
<div>
  <%= link_to "Edit this article", edit_article_path(@article) %> |

  <%= link_to "Destroy this article", @article, method: :delete %>
</div>
<%end%>
<div>
  <%= render "reactions/options"%>
</div>
<div>
  <%= link_to "Back to articles", articles_path %>
</div>
<%= render 'comments/articlecomments'%>
<%= render 'comments/form' %>